/data
/venv
*.pyc
*.cpython-313.pyc
/modules/__pycache__
/modules/.metadata
/__pycache__
/.pytest_cache
*/__pycache__
*.pyc
/runs/xlmr-tl-en-pos-multihead/checkpoint-10000
/runs/xlmr-tl-en-pos-multihead/checkpoint-5000
*.pyc
